<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AndroidFacebook"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".friends.FriendListPage"
            android:exported="false" />
        <activity
            android:name=".friends.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationPage"
            android:exported="false" />
        <activity
            android:name=".addspages.EditUser"
            android:exported="false" />
        <activity
            android:name=".comments.CommentPage"
            android:exported="false" />
        <activity
            android:name=".addspages.EditPost"
            android:exported="false" />
        <activity
            android:name=".adapters.CommentListAdapter"
            android:exported="false" />
        <activity
            android:name=".addspages.AddPost"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".signup.SignUp"
            android:exported="false" />
        <activity
            android:name=".pid.Pid"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>