.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.light-mode {
  background-color: #f0f2f5;
  color: #333333;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.light-mode-button {
  background-color: #333333;
  color: #ffffff;
}


.dark-mode {
  background-color: #333333;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.dark-mode-button {
  background-color: #ffffff;
  color: #333333;
}