.commentDiv{
    margin: 0.2rem;
    background-color: #C7C8CC;
    border-radius: 5%;
    word-wrap: break-word;
    justify-content: left;
    width: 64ch;
}
.dark-mode .commentDiv{
    background-color: #333;
}
.editButton{
    background-color: #C7C8CC;;
    border: none;
}
.dark-mode .editButton{
    background-color: #333;
}
.dark-mode .avatar{
    color: #BEBEBE;
}
.dark-mode .span{
    color: #BEBEBE;
}
.dark-mode .textarea{
    color: #BEBEBE;
    background-color: #333;
}